$cor_primaria_class_1: #00331F;
$cor_primaria_class_2: #D7DC00;
$cor_primaria_class_3: #00D38D;
$cores-class: (primaria_class_1, primaria_class_2, primaria_class_3);
$midias: (sm, md, lg, xl);
//
@function selectCor( $var) {
    @if $var==primaria_class_1 {
        @return $cor_primaria_class_1;
    }
    @else if $var==primaria_class_2 {
        @return $cor_primaria_class_2;
    }
    @else if $var==primaria_class_3 {
        @return $cor_primaria_class_3;
    }
}

@each $cor in $cores-class {
    .color-#{$cor} {
        color: selectCor( $cor) !important;
    }
    .background-#{$cor} {
        background-color: selectCor( $cor) !important;
    }
}

@each $midia in $midias {
    @media (min-width: sintaxMidia( $midia)) {
        @each $cor in $cores-class {
            .color-#{$midia}-#{$cor} {
                color: selectCor( $cor) !important;
            }
            .background-#{$midia}-#{$cor} {
                background-color: selectCor( $cor) !important;
            }
        }
    }
}