@font-face {
  font-family: "icone-new";
  src: url("../../../wwwroot/build/font/icons.eot");
  src: url("../../../wwwroot/build/font/icons.eot?09032022#iefix")
      format("embedded-opentype"),
    url("../../../wwwroot/build/font/icons.woff2?09032022") format("woff2"),
    url("../../../wwwroot/build/font/icons.woff?09032022") format("woff"),
    url("../../../wwwroot/build/font/icons.ttf?09032022") format("truetype"),
    url("../../../wwwroot/build/font/icons.svg?09032022#mrv-icons")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.fontIcons:before {
  font-family: "icone-new" !important;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  width: auto !important;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-Desconto:before { content: '\e800'; } /* '?' */
.icon-Megafone:before { content: '\e801'; } /* '?' */
.icon-Tela-chat:before { content: '\e802'; } /* '?' */
.icon-Mao_com_cifrao:before { content: '\e803'; } /* '?' */
.icon-Chat-1:before { content: '\e804'; } /* '?' */
.icon-Play:before { content: '\e805'; } /* '?' */
.icon-Banco:before { content: '\e806'; } /* '?' */
.icon-Dinheiro_mao:before { content: '\e807'; } /* '?' */
.icon-Dinheiro_bolsa:before { content: '\e808'; } /* '?' */
.icon-Selo:before { content: '\e809'; } /* '?' */
.icon-Caderneta:before { content: '\e80a'; } /* '?' */
.icon-Relogio:before { content: '\e80b'; } /* '?' */
.icon-Baixo:before { content: '\e80c'; } /* '?' */
.icon-Whatsapp:before { content: '\e80d'; } /* '?' */
.icon-Chave_mao:before { content: '\e80e'; } /* '?' */
.icon-Afirmativo:before { content: '\e80f'; } /* '?' */
.icon-Linha_especial_de_loucas_e_metais:before { content: '\e810'; } /* '?' */
.icon-Ceramica_cozinha_e_banheiro:before { content: '\e811'; } /* '?' */
.icon-Piso_laminado_no_quarto:before { content: '\e812'; } /* '?' */
.icon-Seta-esquerda:before { content: '\e813'; } /* '?' */
.icon-Dinheiro_up:before { content: '\e814'; } /* '?' */
.icon-Seta_lado_direto:before { content: '\e815'; } /* '?' */
.icon-CVA:before { content: '\e816'; } /* '?' */
.icon-Dinheiro_maos:before { content: '\e817'; } /* '?' */
.icon-Elevador:before { content: '\e818'; } /* '?' */
.icon-Filtro:before { content: '\e819'; } /* '?' */
.icon-Energia_solar_areas_comuns:before { content: '\e81a'; } /* '?' */
.icon-Casa_com_estrelas:before { content: '\e81b'; } /* '?' */
.icon-Simbolo_seguranca:before { content: '\e81c'; } /* '?' */
.icon-Portas_especiais:before { content: '\e81d'; } /* '?' */
.icon-Bancadas_em_marmore_sintetico:before { content: '\e81e'; } /* '?' */
.icon-Diarista:before { content: '\e81f'; } /* '?' */
.icon-Casa_estrela:before { content: '\e820'; } /* '?' */
.icon-Espaco_pizza:before { content: '\e821'; } /* '?' */
.icon-Varanda_gourmet:before { content: '\e822'; } /* '?' */
.icon-Garagem:before { content: '\e823'; } /* '?' */
.icon-Garagem_coberta:before { content: '\e824'; } /* '?' */
.icon-Preparacao_para_wi-fi_nas_areas_de_lazer:before { content: '\e825'; } /* '?' */
.icon-Janelas_especiais:before { content: '\e826'; } /* '?' */
.icon-Sacada_com_churrasqueira:before { content: '\e827'; } /* '?' */
.icon-Lazer_equipado:before { content: '\e828'; } /* '?' */
.icon-Revestimento_total_das_areas_molhadas:before { content: '\e829'; } /* '?' */
.icon-Previsao_para_medicao_de_agua_individualizada:before { content: '\e82a'; } /* '?' */
.icon-Bancadas_do_banheiro_em_granito:before { content: '\e82b'; } /* '?' */
.icon-Acabamentos_exclusivita:before { content: '\e82c'; } /* '?' */
.icon-Sistema_de_vendas:before { content: '\e82d'; } /* '?' */
.icon-Contrato_check:before { content: '\e82e'; } /* '?' */
.icon-Piso_laminado_na_sala:before { content: '\e82f'; } /* '?' */
.icon-Sistema_de_seguranca_eco:before { content: '\e830'; } /* '?' */
.icon-Sistema_de_seguranca_BIO-1:before { content: '\e831'; } /* '?' */
.icon-Sistema_de_seguranca-2:before { content: '\e832'; } /* '?' */
.icon-Pin_localizacao:before { content: '\e833'; } /* '?' */
.icon-Sacola_com_cifrao:before { content: '\e834'; } /* '?' */
.icon-Maos_entregando_chave:before { content: '\e835'; } /* '?' */
.icon-Escrita:before { content: '\e836'; } /* '?' */
.icon-Dinheiros:before { content: '\e837'; } /* '?' */
.icon-Tomadas_usb:before { content: '\e838'; } /* '?' */
.icon-Simbolo_seguranca_se:before { content: '\e839'; } /* '?' */
.icon-Mao_com_cifrao-1:before { content: '\e83a'; } /* '?' */
.icon-Notas_de_dinheiro:before { content: '\e83b'; } /* '?' */
.icon-Calculadora-2:before { content: '\e83c'; } /* '?' */
.icon-Cel:before { content: '\e83d'; } /* '?' */
.icon-Bicicletario:before { content: '\e83e'; } /* '?' */
.icon-Bike:before { content: '\e83f'; } /* '?' */
.icon-Celular_casa-1:before { content: '\e840'; } /* '?' */
.icon-Bike_compartilhada:before { content: '\e842'; } /* '?' */
.icon-Dispositivos_economizadores_de_agua:before { content: '\e843'; } /* '?' */
.icon-Medicao_de_agua_individualizada:before { content: '\e844'; } /* '?' */
.icon-Pomar:before { content: '\e845'; } /* '?' */
.icon-Coleta_seletiva:before { content: '\e846'; } /* '?' */
.icon-Kit_eletro:before { content: '\e847'; } /* '?' */
.icon-Novas_guaritas:before { content: '\e848'; } /* '?' */
.icon-Dispositivos_economizadores_de_energia:before { content: '\e849'; } /* '?' */
.icon-Bikes_compartilhadas:before { content: '\e84a'; } /* '?' */
.icon-Carro_compartilhado:before { content: '\e84b'; } /* '?' */
.icon-Chuveiro_a_gas:before { content: '\e84c'; } /* '?' */
.icon-Coworking:before { content: '\e84d'; } /* '?' */
.icon-Tanque_em_marmore_sintetico:before { content: '\e84e'; } /* '?' */
.icon-Casa_padrao:before { content: '\e84f'; } /* '?' */
.icon-Grupo-pessoas:before { content: '\e850'; } /* '?' */
.icon-Seta-direita:before { content: '\e851'; } /* '?' */
.icon-Espaco_fogueira:before { content: '\e852'; } /* '?' */
.icon-Energia_solar_apartamentos:before { content: '\e853'; } /* '?' */
.icon-Porcelanato:before { content: '\e854'; } /* '?' */
.icon-Armarios_planejados:before { content: '\e855'; } /* '?' */
.icon-Acabamentos_especiais:before { content: '\e856'; } /* '?' */
.icon-Armarios:before { content: '\e857'; } /* '?' */
.icon-energia:before { content: '\e858'; } /* '?' */
.icon-Descontos_exclusivos:before { content: '\e859'; } /* '?' */
.icon-Internet:before { content: '\e85a'; } /* '?' */
.icon-Localizacao:before { content: '\e85b'; } /* '?' */
.icon-Seta_preenchida_direita:before { content: '\e85c'; } /* '?' */
.icon-Seta_preenchida_esquerda:before { content: '\e85d'; } /* '?' */
.icon-Lazer:before { content: '\e85e'; } /* '?' */
.icon-m2:before { content: '\e85f'; } /* '?' */
.icon-Dormitorio:before { content: '\e860'; } /* '?' */
.icon-Check:before { content: '\e861'; } /* '?' */
.icon-Infraestrutura_completa:before { content: '\e862'; } /* '?' */
.icon-Loteamento_planejado:before { content: '\e863'; } /* '?' */
.icon-Area_de_lazer_para_todas_as_idades:before { content: '\e864'; } /* '?' */
.icon-Qualidade_ambiental:before { content: '\e865'; } /* '?' */
.icon-localizacao-mapa:before { content: '\e866'; } /* '?' */
.icon-X:before { content: '\e867'; } /* '?' */
.icon-Pagamento_rapido:before { content: '\e868'; } /* '?' */
.icon-Gerente_expert:before { content: '\e869'; } /* '?' */
.icon-Comissao_fixa:before { content: '\e86a'; } /* '?' */
.icon-Comissao:before { content: '\e86b'; } /* '?' */
.icon-Novo_contrato:before { content: '\e86d'; } /* '?' */
.icon-Chave-1:before { content: '\e86e'; } /* '?' */
.icon-FGTS:before { content: '\e86f'; } /* '?' */
.icon-Contrato_01:before { content: '\e870'; } /* '?' */
.icon-Chave_3:before { content: '\e871'; } /* '?' */
.icon-Checklist:before { content: '\e872'; } /* '?' */
.icon-Simbolo_dinheiro:before { content: '\e873'; } /* '?' */
.icon-Lupa:before { content: '\e874'; } /* '?' */
.icon-Folha_Escrita:before { content: '\e875'; } /* '?' */
.icon-Porquinho:before { content: '\e876'; } /* '?' */
.icon-Documento:before { content: '\e877'; } /* '?' */
.icon-Varinha:before { content: '\e878'; } /* '?' */
.icon-Celular_casa:before { content: '\e879'; } /* '?' */
.icon-Dispositivo_celular:before { content: '\e87a'; } /* '?' */
.icon-Espaco_crossfit:before { content: '\e87b'; } /* '?' */
.icon-Espaco_praia:before { content: '\e87c'; } /* '?' */
.icon-Quadra_de_beach_tennis:before { content: '\e87d'; } /* '?' */
.icon-Seguranca:before { content: '\e899'; } /* '?' */
.icon-Calculadora-1:before { content: '\e8a0'; } /* '?' */




